body {
   padding-top: 55px;
}
#topnav {
   width: 100%;

   position: fixed;
   top: 0;
   left: 0;

   background-color: Black;

   font-family: Arial, sans-serif;
   font-size: 15px;
   z-index: 1000;
}

.nav-link {
   display: inline-block;
   width: 100px;
   height: 55px;

   color: White;

   text-align: center;
   line-height: 55px;

   text-decoration: none;
}

#logo {
   width: 120px;

   background-color: RoyalBlue;

   font-weight: bold;
}

.container {
   display: flex;  /* Use Flexbox */
   justify-content: space-between;  /* Space the .show and .add elements evenly */
   width: 100%;
   margin: 0 auto;
}

.show {
   width: 55%;  /* Set a width to prevent the .show and .add elements from taking up the full width of the .container */
}

.add {
   width: 40%;  /* Set a width to prevent the .show and .add elements from taking up the full width of the .container */
   margin-right: 0;  /* Remove the right margin */
}

.titulo {

   font-size: 20px;
   font-weight: bold;
}

.descricao {
   font-size: 15px;
}

.anuncio {
   margin-bottom: 20px;
}
