<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>VillaSync</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='topnav.css') }}">
   </head>
   <body>
      <nav id="topnav">
         <a id="logo" class="nav-link" href="/">VillaSync</a>
         <a class="nav-link" href="/propriedades">Propriedades</a>
         <a class="nav-link" href="/visitas">Visitas</a>
         <a class="nav-link" href="/contratos">Contratos</a>
         <a class="nav-link" href="/ofertas">Ofertas</a>
         <a class="nav-link" href="/agentes">Agentes</a>
         <a class="nav-link" href="/anuncios">Anuncios</a>
         <a class="nav-link" href="/clientes">Clientes</a>

      </nav>


      <div class="container">
         <div class="show">
            <h1>Anuncios</h1>
            {% for anuncio in all_anuncios %}
            <div class="anuncio" hx-swap="innerHTML" hx-target="#content">
               <div class="anuncio_detalhes" hx-get="/anuncios/{{anuncio.id}}">
                  <div class="titulo">{{ anuncio.titulo }}</div>
                  <div class="descricao">{{ anuncio.descricao }}</div>
                  <div class="contrato">{{ anuncio.id_contrato }}</div>
            </div>
            <div>
               <button class="edit-button" hx-get="/anuncios/{{ id }}?edit=true">Edit</button>
               <button class="delete-button" hx-delete="/anuncios/{{ id }}" hx-confirm="Tens a certeza?">Delete</button>
            </div>
            </div>
            {% endfor %}
         </div>
            
         




         <div class="add">
            <h2>Adicionar Anúncio</h2>
            <form action="/anuncios" method="post">
               <label for="titulo">Título:</label><br>
               <input type="text" id="titulo" name="titulo"
                     value="{% if id is defined%}{{ anuncio.titulo }}{% endif %}"><br>
                            
               <label for="descricao">Descrição:</label><br>
               <input type="text" id="descricao" name="descricao"
                     value="{% if id is defined%}{{anuncio.descricao}}{% endif %}" ><br>

               <label for="contrato">Contrato:</label><br>
               <input type="text" id="id_contrato" name="id_contrato"
                     value="{% if id is defined%}{{anuncio.id_contrato}}{% endif %}" ><br>
               
                  
               
               <button class="btn">Save</button>
               {% if id is defined %}
                  <button class="btn" hx-get="/anuncios/{{id}}">Cancel</button>
               {% endif %}
               </form>
         </div>
      
      
      </div>
   </body>
</html>