<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>VillaSync</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='topnav.css') }}">
   </head>
   <body>
      <nav id="topnav">
         <a id="logo" class="nav-link" href="/">VillaSync</a>
         <a class="nav-link" href="/propriedades">Propriedades</a>
         <a class="nav-link" href="/visitas">Visitas</a>
         <a class="nav-link" href="/contratos">Contratos</a>
         <a class="nav-link" href="/ofertas">Ofertas</a>
         <a class="nav-link" href="/agentes">Agentes</a>
         <a class="nav-link" href="/anuncios">Anuncios</a>
         <a class="nav-link" href="/clientes">Clientes</a>
      </nav>

      <h1>Propriedades</h1>
      <p>Property list: </p>
         {{ propriedades }}
      
   </body>
</html>